<launch>
  <!-- Set YOLO model -->
  <arg name="yolo_model" default="yolov8n.pt"/>
  <arg name="rgb_topic" default="/camera/rgb/image_raw"/>
  <!-- threshold -->
  <arg name="confidence_threshold" default="0.45"/>

  <node pkg="turtlebot3_gazebo"
        type="yolo_detector.py"
        name="yolo_detection"
        output="screen">
    
    <param name="model_path" value="$(arg yolo_model)"/>
    <param name="rgb_topic" value="$(arg rgb_topic)"/>
    <param name="depth_topic" value="/camera/depth/image_raw"/>
    <param name="confidence_threshold" value="$(arg confidence_threshold)"/>
    <param name="output_topic" value="/yolo_detection_image"/>
  </node>
  
</launch>